/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #18181b;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #27272a #18181b;
}

/* Edge and other browsers */
@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-width: thin;
    scrollbar-color: #27272a #18181b;
  }
} 